
  /*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/ext_power.h>

  / {
    keymap {
      compatible = "zmk,keymap";
  layer0 {
          bindings = <
          &mo 6 &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp F20 &kp F20 &mt LEFT_GUI A &mt LEFT_ALT S &mt LEFT_CONTROL D &mt LEFT_SHIFT F &kp G &kp H &mt LEFT_SHIFT J &mt LEFT_CONTROL K &mt LEFT_ALT L &mt LEFT_GUI SEMICOLON &kp F20 &kp F20 &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp F20 &kp ESCAPE &lt 1 TAB &lt 2 ENTER &lt 3 SPACE &lt 4 BACKSPACE &lt 5 DELETE
          >;
        };layer1 {
          bindings = <
          &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp K_AGAIN &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO &kp F20 &kp F20 &kp LEFT_GUI &kp LEFT_ALT &kp LEFT_CONTROL &kp LEFT_SHIFT &kp F20 &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp CAPSLOCK &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp INSERT &kp HOME &kp PAGE_UP &kp PAGE_DOWN &kp END &kp F20 &kp F20 &kp F20 &kp F20 &kp ENTER &kp BACKSPACE &kp DELETE
          >;
        };layer2 {
          bindings = <
          &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp K_AGAIN &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO &kp F20 &kp F20 &kp LEFT_GUI &kp LEFT_ALT &kp LEFT_CONTROL &kp LEFT_SHIFT &kp F20 KC_MS_L KC_MS_D KC_MS_U KC_MS_R &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 KC_WH_L KC_WH_D KC_WH_U KC_WH_R &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 KC_BTN1 KC_BTN2 KC_BTN3
          >;
        };layer3 {
          bindings = <
          &kp F20 KC_LCBR KC_AMPR KC_ASTR &kp F20 KC_RCBR &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 KC_DQUO KC_DLR KC_PERC KC_CIRC &kp KP_PLUS &kp F20 &kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &kp F20 &kp F20 KC_TILD KC_EXLM KC_AT KC_HASH KC_PIPE &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 KC_LPRN KC_RPRN KC_UNDS &kp F20 &kp F20 &kp F20
          >;
        };layer4 {
          bindings = <
          &kp F20 &kp LEFT_BRACKET &kp N7 &kp N8 &kp N9 &kp RIGHT_BRACKET &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp SINGLE_QUOTE &kp N4 &kp N5 &kp N6 &kp EQUAL &kp F20 &kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &kp F20 &kp F20 &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BACKSLASH &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp KP_DOT &kp N0 &kp MINUS &kp F20 &kp F20 &kp F20
          >;
        };layer5 {
          bindings = <
          &kp F20 &kp F12 &kp F7 &kp F8 &kp F9 &kp PRINTSCREEN &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F11 &kp F4 &kp F5 &kp F6 KC_SLCK &kp F20 &kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &kp F20 &kp F20 &kp F10 &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp SPACE &kp F20 &kp F20 &kp F20 &kp F20
          >;
        };layer6 {
          bindings = <
          &trans RGB_M_P RGB_M_B RGB_M_SW RGB_M_SN RGB_M_K BL_STEP BL_TOGG RGB_TOG RGB_SPI RGB_SPD &kp F20 &kp F20 RGB_M_X RGB_M_G RGB_M_T &kp F20 &kp F20 BL_ON BL_INC RGB_HUI RGB_MOD RGB_VAI &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 BL_OFF BL_DEC RGB_HUD RGB_RMOD RGB_VAD &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20
          >;
        };
    };
  };
  
